.main{
    padding: 100px 0px;
    /* width: 100%; */
    /* height: 2061px; */
    /* background-image: linear-gradient(#0F3866, #1857A0); */
}

.body{
    text-align: center;
    background-color: white;
    border-radius: 15px;
}


.btn{
    margin: 40px 0px;
    border: 0px;
    border-radius: 20px;
    background-image: linear-gradient(#0F3866, #1857A0);
    padding: 30px 190px;
    font-size: xx-large;
    color: white;
    cursor: pointer;
    transition: padding 2s;
}

.btn:hover{
    padding: 30px 250px;

}